<h1 style="text-align: center;">Create a New WBWWorker</h1>
<% if !logged_in? %>
    <h1>You must log in before you see anything</h1>

<% elsif current_user.admin == false %>
    <h1>You do not have access to see this page. Please go back and try again</h1> 

<% else %>
    <%= form_tag wbw_workers_path(@worker) do %>
        <%= render 'wbwform' %>
        <%= submit_tag "Create Worker" %>
    <% end %>
<% end %>


<% if @worker.errors[:name].any? %>
        <h2 style="text-align: center;">Name <%= @worker.errors[:name][0] %></h2>
<% end %>

<% if @worker.errors[:email].any? %>
        <h2 style="text-align: center;">Email <%= @worker.errors[:email][0] %></h2>
<% end %>
