
<% if !logged_in? %>
    <h1>You must log in before you see anything</h1>
<% end %>
<% a = 0 %>
<% @customers.each do |customer| %>
    <% if current_user.customers.include?(customer) %>
        <% a += 1 %>
    <% end %>
<% end %>

<% if a == 0 && current_user.admin == false %>
    <h1>You do not have access to see this page. Please go back and try again</h1> 

<% else %>
    <% if current_user.admin == true %>
        <% @customers.each do |customer| %>
            <h1><%= customer.title %></h1><hr>
            <h2><%= link_to "Look at this customer", wbw_worker_customer_path(WbwWorker.find(customer.wbw_worker_id), customer) %></h2><br>
        <% end %>
        <%= link_to "Create a new Customer", new_customer_path %>
        <br>
         <% #link_to "Edit a worker", wbw_workers_path %>
    <% else %>
        <% current_user.customers.each do |customer| %>
            <h1><%= customer.title %></h1><hr>
            <h2><%= link_to "Look at this customer", wbw_worker_customer_path(current_user, customer) %></h2><br>
        <% end %>
    <% end %>
<% end %>