<!DOCTYPE HTML>
<html>

<% if !logged_in? %>
    <h1>You must log in before you see anything</h1>
<% else %>



<br><br><br>
    <%= form_with url: '/customers/search', local: true do |f| %>
        <%= f.label :wbw_worker, "WBW Worker" %>
        <%= f.text_field :wbw_worker %>
        <br><br>
        <%= f.label :contact, "Contact Name" %>
        <%= f.text_field :contact %>    
        <br><br>
        <%= f.submit "Search" %>
        <a shref="/">Cancel</a>
    <% end %>





<% end %>
</html>